2FA secret QR code for Bitwarden/KeePassXC needs to be Base32 encoded instead Base64

### Version

0.18.4

### What happened?

Use command `steamguard qr --format bitwarden` to generate 2FA secret QR code for Bitwarden to import as TOTP setup. Bitwarden accepted the secret, but the TOTP code it generates is always different with the one steamguard-cli generates. Of 'coz the code from Bitwarden won't work during login, while the one steamguard-cli generates is good.

Further investigation says that Bitwarden expects Base32 encoded but now it's Base64. Also the universal standard adopted across all modern password managers and authenticators (Bitwarden, 1Password, KeePassXC, Google Authenticator) is the [Google Authenticator Key-Uri-Format](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret).
> The secret parameter is an arbitrary key value encoded in Base32 according to [RFC 3548](http://tools.ietf.org/html/rfc3548). The padding specified in [RFC 3548 section 2.2](https://tools.ietf.org/html/rfc3548#section-2.2) is not required and should be omitted.

I manually convert the 2FA secret within the string from Base64 to Base32, and it works fine this way.

Related to #502.

I already prepared a PR to fix this issue, will submit it soon.